body {
  margin: 0px;
}
html {
  font-family: "karla";
  font-size: 16px;
  font-weight: 400;
}
h2,
h4,
p {
  margin: 0px;
}
.container {
  max-width: 600px;
  max-height: 400px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.top-section {
  width: 100%;
  height: 45%;
  background-color: white;

  flex: 1;
}
.top-section h4,
h2,
p {
  padding: 0px 25px;
}
.top-section p {
  font-size: 0.9rem;
  margin-bottom: 50px;
}
.bottom-section {
  width: 100%;
  height: 55%;
  display: flex;
  flex-direction: row;
  color: white;
}
.bottom-left-box {
  flex: 1;
  background-color: rgb(41, 178, 174);
  padding: 25px;
}
.bottom-left-box p {
  padding: 0;
  margin-bottom: 20px;
  font-size: 0.8rem;
  font-stretch: expanded;
}
.bottom-left-box h4 {
  margin-bottom: 20px;
}
.price-container {
  margin-bottom: 15px;
}
#price {
  font-weight: 700;
  font-size: 1.4rem;
  display: inline-block;
}
#price-frequency {
  display: inline-block;
  position: relative;
  top: -3px;
  font-size: 0.8rem;
  opacity: 0.7;
  margin-left: 5px;
}

.bottom-right-box {
  flex: 1;
  background-color: rgb(45, 191, 189);
  padding: 25px;
}

.top-section h2 {
  color: #2ab2af;
  margin-bottom: 20px;
  margin-top: 15px;
}

.top-section h4 {
  color: #c0df34;
  margin-bottom: 10px;
}
.top-section p {
  color: rgb(142, 142, 142);
}
button {
  color: white;
  background-color: rgb(174, 204, 41);
  border: none;
  border-radius: 5px;
  width: 100%;
  padding: 10px;
  box-shadow: -2px 11px 33px -10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background-color 0.2s, transform 0.2s;
}
button:hover {
  background-color: #8aa220;
  transform: scale(1.02);
}
ul {
  list-style: none;
  padding: 0px;
  font-size: 0.8rem;
  opacity: 0.8;
}
@media (max-width: 576px) {
  .container {
    max-width: 400px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    
  }

  .bottom-section {
    flex-direction: column;
  }
 
}
